.sass-cache
.livereload
*.sublime-project
*.sublime-workspace
/app/Config/core.php
/app/Config/database.php
/app/Config/bbootstrap.php
/app/tmp/*
!/app/tmp/asset_compress*
/cakephp/
/smartmap_original/
/app/webroot/img/tshaker/*
/app/webroot/img/smartmap/*
*en conflit*
/app/webroot/files/*
sftp-config.json