<IfModule mod_rewrite.c>
   RewriteEngine On
   Redirect 301 /cotra http://emmanuelpelletier.com/smartmap
   Redirect 301 /irigo http://emmanuelpelletier.com/smartmap
   Redirect 301 /covoiturage.html http://emmanuelpelletier.com/covoiturage
   RewriteRule ^referencement$ ref-en-gros.html [L]
   RewriteRule ^(smartmap).* - [NC,L]
   RewriteRule ^(tshaker).* - [NC,L]
   RewriteRule ^(web-dial).* - [NC,L]
   RewriteRule ^(covoiturage).* - [NC,L]
   RewriteRule ^$ app/webroot/    [L]
   RewriteRule (.*) app/webroot/$1 [L]
</IfModule>