@charset "UTF-8";
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4 Known issue: no IE6 support */
[hidden] { display: none; }

/* ============================================================================= Base ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 2. Prevents iOS text size adjust after orientation change, without disabling user zoom www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
html, button, input, select, textarea { font-family: sans-serif; }

/* Addresses margins handled incorrectly in IE6/7 */
body { margin: 0; }

/* ============================================================================= Links ========================================================================== */
/* Addresses outline displayed oddly in Chrome */
a:focus { outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }

/* ============================================================================= Typography ========================================================================== */
/* Addresses font sizes and margins set differently in IE6/7 Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5 */
h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

/* Addresses styling not present in IE7/8/9, S5, Chrome */
abbr[title] { border-bottom: 1px dotted; }

/* Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/* Addresses styling not present in S5, Chrome */
dfn { font-style: italic; }

/* Addresses styling not present in IE6/7/8/9 */
mark { background: #ff0; color: #000; }

/* Addresses margins set differently in IE6/7 */
p, pre { margin: 1em 0; }

/* Corrects font family set oddly in IE6, S4/5, Chrome en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* 1. Addresses CSS quotes not supported in IE6/7 2. Addresses quote property not supported in S4 */
/* 1 */
q { quotes: none; }

/* 2 */
q:before, q:after { content: ''; content: none; }

small { font-size: 75%; }

/* Prevents sub and sup affecting line-height in all browsers gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ============================================================================= Lists ========================================================================== */
/* Addresses margins set differently in IE6/7 */
dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

/* Addresses paddings set differently in IE6/7 */
menu, ol, ul { padding: 0 0 0 40px; }

/* Corrects list images handled incorrectly in IE7 */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* ============================================================================= Embedded content ========================================================================== */
/* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3 2. Improves image quality when scaled in IE7 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) { overflow: hidden; }

/* ============================================================================= Figures ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11 */
figure { margin: 0; }

/* ============================================================================= Forms ========================================================================== */
/* Corrects margin displayed oddly in IE6/7 */
form { margin: 0; }

/* Define consistent border, margin, and padding */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* 1. Corrects color not being inherited in IE6/7/8/9 2. Corrects text not wrapping in FF3 3. Corrects alignment displayed oddly in IE6/7 */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/* 1. Corrects font size not being inherited in all browsers 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome 3. Improves appearance and consistency in all browsers */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet */
button, input { line-height: normal; /* 1 */ }

/* 1. Improves usability and consistency of cursor style between image-type 'input' and others 2. Corrects inability to style clickable 'input' types in iOS 3. Removes inner spacing in IE7 without affecting normal text inputs Known issue: inner spacing remains in IE6 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; /* 1 */ -webkit-appearance: button; /* 2 */ *overflow: visible; /* 3 */ }

/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] { cursor: default; }

/* 1. Addresses box sizing set to content-box in IE8/9 2. Removes excess padding in IE8/9 3. Removes excess padding in IE7 Known issue: excess padding remains in IE6 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/* 1. Addresses appearance set to searchfield in S5, Chrome 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof) */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/* Removes inner padding and search cancel button in S5, Chrome on OS X */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/* Removes inner padding and border in FF3+ www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 1. Removes default vertical scrollbar in IE6/7/8/9 2. Improves readability and alignment in all browsers */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ============================================================================= Tables ========================================================================== */
/* Remove most spacing between table cells */
table { border-collapse: collapse; border-spacing: 0; }

.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

.hidden, .mobile-only, .no-js .only-js { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after, .cf:before, .cf:after { content: ""; display: table; }
.clearfix:after, .cf:after { clear: both; }
.clearfix, .cf { *zoom: 1; }

.rght { float: right; }

.lft { float: left; }

.b, b, strong { font-weight: normal; background: #fff59b; padding: 2px; }

.i { font-style: italic; }

.strike { text-decoration: line-through; }

.xsmall { font-size: x-small; }

.small { font-size: small; }

.medium { font-size: medium; }

.error { color: red; }

.ok { color: green; }

.common-sprite, .common-blacktocat, .common-headset-profiler-icon, .common-newspaper, .common-parkangers-icon, .common-smartmap-icon, .common-star, .common-twitter, .common-yata-icon, .yata .project-title, .parkangers .project-title, .headset-profiler .project-title, .smartmap .project-title, .tweet, .github-icon, .favorite, .article { background: url('../img/common-sb304701b79.png') no-repeat; }

.common-blacktocat { background-position: 0 -279px; }

.common-headset-profiler-icon { background-position: 0 -143px; }

.common-newspaper { background-position: 0 -387px; }

.common-parkangers-icon { background-position: 0 -211px; }

.common-smartmap-icon { background-position: 0 0; }

.common-star { background-position: 0 -351px; }

.common-twitter { background-position: 0 -315px; }

.common-yata-icon { background-position: 0 -75px; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { margin: 0; padding: 0; font-size: medium; line-height: 1.8em; background: white url(../img/layout/noise.png) repeat; }

body, button, select, input, textarea, label { color: #222222; font-family: Georgia, serif; }

h1, h2, h3, h4, h5, h6, fieldset.group > legend:first-child { font-weight: normal; font-family: Georgia, serif; }

th { font-weight: bold; }

input:focus:invalid, textarea:focus:invalid { -webkit-border-radius: 1px; -moz-border-radius: 1px; -ms-border-radius: 1px; -o-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 0 5px 0 red; -moz-box-shadow: 0 0 5px 0 red; box-shadow: 0 0 5px 0 red; }

.no-boxshadow input:focus:invalid, .no-boxshadow textarea:focus:invalid { background-color: #f0dddd; }

code, pre { padding: 0 3px 2px; font-family: Monaco, 'Monaco for Powerline', 'Courier New', monospace; font-size: 0.8em; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

code { background-color: #fee9cc; color: rgba(0, 0, 0, 0.75); padding: 1px 3px; }

pre { background-color: #f5f5f5; display: block; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

a { color: #0064cd; text-decoration: none; -webkit-transition: border-color 0.25s linear; -moz-transition: border-color 0.25s linear; -o-transition: border-color 0.25s linear; transition: border-color 0.25s linear; border-bottom: 1px solid transparent; }
a:hover, a:focus { color: #0064cd; border-bottom: 1px solid #017dff; }
a:active { border-bottom: 1px solid #4da4ff; color: #1b8aff; }
a:visited, a:visited:hover, a:visited:focus { color: #003f81; }

input[type="email"], input[type="url"], input[type="text"], textarea { margin: 3px 0; padding: 5px; border: 0; border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3); box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3); }

.cool-link { display: block; text-align: center; line-height: 1.2em; -webkit-transition: box-shadow 0.15s linear; -moz-transition: box-shadow 0.15s linear; -o-transition: box-shadow 0.15s linear; transition: box-shadow 0.15s linear; -webkit-box-shadow: 0 2px 2px #444444; -moz-box-shadow: 0 2px 2px #444444; box-shadow: 0 2px 2px #444444; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; padding: 3px; margin-bottom: 10px; text-shadow: #565 0 1px 0; }
.cool-link, .cool-link:focus, .cool-link:hover, .cool-link:visited, .cool-link:visited:hover, .cool-link:visited:focus, .cool-link:active { color: white; border: none; }
.cool-link:focus, .cool-link:hover { -webkit-box-shadow: 0 3px 4px #555555; -moz-box-shadow: 0 3px 4px #555555; box-shadow: 0 3px 4px #555555; }
.cool-link:active { -webkit-box-shadow: 0 3px 4px #222222; -moz-box-shadow: 0 3px 4px #222222; box-shadow: 0 3px 4px #222222; }

a.market { background-color: #07B11A; font-size: 1.2em; }

a.web { font-size: 1.35em; background-color: #428EC9; }

a.github { background-color: #f5f5f5; text-shadow: 0 1px 0 white; }
a.github, a.github:focus, a.github:hover, a.github:visited, a.github:visited:hover, a.github:visited:focus, a.github:active { color: #333; border: 1px solid #D4D4D4; }

a[href*="mailto"]:before { content: '@'; color: #888888; }

.project { position: relative; margin-bottom: 30px; }
.project:before, .project:after { content: ""; display: table; }
.project:after { clear: both; }
.project { *zoom: 1; }

.project-title { min-height: 48px; padding: 10px 0 0 0; margin-bottom: 0; background: transparent none no-repeat center left; }
.project-title:hover { background-color: #dedede; }
.yata .project-title { background-position: 0 -75px; padding-left: 50px; }
.parkangers .project-title { background-position: 0 -211px; padding-left: 50px; }
.headset-profiler .project-title { background-position: 0 -143px; padding-left: 55px; }
.smartmap .project-title { background-position: 0 0; padding-left: 62px; background-position: 0 -5px; }

.project-tags { position: absolute; top: 20px; right: 0; }

.project-tag { display: inline-block; *display: inline; *zoom: 1; padding: 0 8px; border-radius: 3px; color: white; background: #444; font-size: small; text-shadow: 0 1px 0 white; }
.project-tag.android { background: #cdeacd; border: 1px solid #a9dba9; color: #46a546; }
.project-tag.web { background: #c4dcee; border: 1px solid #9dc4e2; color: #347bb2; }
.project-tag.mobile { background: #fee9cc; border: 1px solid #fdd49a; color: #f89406; }

.project-content, .project-imgs { float: left; }

.project-content { width: 80%; position: relative; padding-right: 15px; }

.project-imgs { float: right; padding-left: 15px; }
.project-imgs img { max-width: 100%; width: auto; max-height: 250px; -webkit-box-shadow: 0 2px 2px #444444; -moz-box-shadow: 0 2px 2px #444444; box-shadow: 0 2px 2px #444444; }

.project-links { width: 20%; float: right; text-align: center; }

h2, h3 { font-style: italic; font-weight: normal; margin: 10px 0; }

h2 { margin: 20px 0 10px; }

p { margin: 10px 0; }

.gray { color: #cdd; display: inline-block; *display: inline; *zoom: 1; }

.gray:hover { color: #222222; }

.halfwidth { width: 49%; }

p.lft.halfwidth { padding-right: 1%; }

p.rght.halfwidth { padding-left: 1%; }

.only-mobile { display: none; }

#container { position: relative; top: 0; }

#header { margin-bottom: 20px; background-color: #006700; -webkit-transition: background 3s linear; -moz-transition: background 3s linear; -o-transition: background 3s linear; transition: background 3s linear; }

#headerContainer { position: relative; height: 100%; margin: 0 auto; }
#headerContainer > div { position: absolute; width: 15%; height: 100%; top: 0; -webkit-transition: all 3s linear; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear; }
#headerContainer > div:nth-child(1) { z-index: 3; margin-left: 0; }
#headerContainer > div:nth-child(2) { z-index: 4; margin-left: 7.5%; }
#headerContainer > div:nth-child(3) { z-index: 5; margin-left: 10.5%; }
#headerContainer > div:nth-child(4) { z-index: 6; margin-left: 17.5%; }
#headerContainer > div:nth-child(6) { z-index: 7; margin-left: 27.5%; }
#headerContainer > div:nth-child(7) { z-index: 8; margin-left: 35%; }
#headerContainer > div:nth-child(8) { z-index: 9; margin-left: 47.5%; width: 20%; }
#headerContainer > div:nth-child(9) { z-index: 10; margin-left: 62.5%; }
#headerContainer > div:nth-child(10) { z-index: 11; margin-left: 75%; }
#headerContainer > div:nth-child(11) { z-index: 12; margin-left: 82.5%; }
#headerContainer > div:nth-child(12) { z-index: 13; margin-left: 87.5%; width: 12.5%; }
#headerContainer > div:nth-child(13) { z-index: 13; margin-left: 97.5%; width: 2.5%; }
#headerContainer > #navContainer { z-index: 1000; width: auto; position: relative; height: auto; top: auto; }

#navigation { z-index: 110; position: relative; height: 100%; margin-left: 0; list-style: none; margin: 0; padding: 0; text-align: center; }
#navigation li { display: inline-block; *display: inline; *zoom: 1; margin: 5px 10px; padding: 0; }
#navigation a, #navigation a:active, #navigation a:visited { display: block; padding: 0 10px; margin: 0; color: white; font-weight: bold; text-decoration: none; border: none; min-width: 80px; height: 60px; line-height: 60px !important; font: large Georgia, Serif; background: none; outline: 0; -webkit-transition: text-shadow 0.55s linear; -moz-transition: text-shadow 0.55s linear; -o-transition: text-shadow 0.55s linear; transition: text-shadow 0.55s linear; }
#navigation a:hover, #navigation a:focus { text-shadow: #fff 0 0 5px; }
.no-textshadow #navigation a:hover, .no-textshadow #navigation a:focus { font-style: italic; }
#navigation a:before, #navigation a:after { font-size: xx-large; vertical-align: -4px; opacity: 0; -webkit-transition: opacity 0.55s linear; -moz-transition: opacity 0.55s linear; -o-transition: opacity 0.55s linear; transition: opacity 0.55s linear; }
.lteie8 #navigation a:before, .lteie8 #navigation a:after { visibility: hidden; }
#navigation a:before { content: '\007B \0020'; }
#navigation a:after { content: '\0020 \007D'; }
#navigation a.selected { text-shadow: 0 0 10px black; }
#navigation a.selected:before, #navigation a.selected:after { opacity: 1; }
.lteie8 #navigation a.selected:before, .lteie8 #navigation a.selected:after { visibility: visible; }
.no-generatedcontent #navigation a.selected { text-decoration: underline; }
#navigation span { margin: 0 3px; }

#content-wrapper, #footer { max-width: 960px; min-width: 641px; margin: 0 auto 40px; padding: 0 5px; position: relative; }

#footer { margin-bottom: 0; padding: 10px; text-align: center; font-size: medium; }
#footer > * { opacity: .7; -webkit-transition: opacity 0.25s linear; -moz-transition: opacity 0.25s linear; -o-transition: opacity 0.25s linear; transition: opacity 0.25s linear; }
#footer > *:hover, #footer > *:focus { opacity: 1; }

.notes-list { list-style-type: none; margin: 20px auto 0; padding: 0; max-width: 660px; }
.notes-list.comments { padding: 12px 0 0 0; margin: 0; }

.notes-list li { margin: 0; padding: 15px 10px; border-bottom: 1px solid #d3d3d3; -webkit-transition: background-color 0.25s linear; -moz-transition: background-color 0.25s linear; -o-transition: background-color 0.25s linear; transition: background-color 0.25s linear; }
.notes-list li:before, .notes-list li:after { content: ""; display: table; }
.notes-list li:after { clear: both; }
.notes-list li { *zoom: 1; }
.notes-list li:nth-child(odd) { background: #f2f2f2; }
.notes-list li:nth-child(even) { background: none; }
.notes-list li:last-child { border: none; }
.notes-list li:hover { background: #ffffcc; }
.notes-list li:hover > a span:last-child { visibility: visible; }
.notes-list li > a, .notes-list li > span { font-size: small; float: right; margin-left: 15px; text-align: center; display: block; margin-top: 5px; max-width: 5%; }
.notes-list li > a span, .notes-list li > span span { font: 0.9em sans-serif; display: block; }
.notes-list li > a span:first-child, .notes-list li > span span:first-child { font-size: 1.4em; }
.notes-list li p { margin: 0; }
.notes-list li .user { display: table-cell; }

.more { list-style-type: none; text-align: center; margin: 10px 0; padding: 0; }
.more li { margin: 20px 0; }

.pagination { margin: 0; padding: 0; text-align: center; }
.pagination li { display: inline; margin: 0 20px; }

.icon-on-left, .tweet, .github-icon, .favorite, .article { padding-left: 18px; }

.icon { margin: 0 auto; width: 16px; height: 16px; }

.tweet { background-position: 0 -315px; }

.github-icon { background-position: 0 -279px; }

.favorite { background-position: 0 -351px; }

.article { background-position: 0 -387px; }

.article-date { font-size: small; font-style: italic; }

/* ColorBox Core Style: The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0; left: 0; z-index: 9999; overflow: hidden; color: white; }

#cboxOverlay { position: fixed; width: 100%; height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft { clear: left; }

#cboxContent { position: relative; }

#cboxLoadedContent { overflow: auto; }

#cboxTitle { margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }

.cboxPhoto { float: left; margin: auto; border: 0; display: block; }

.cboxIframe { width: 100%; height: 100%; display: block; border: 0; }

/*  User Style: Change the following styles to modify the appearance of ColorBox.  They are ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay { background: #000; }

#html-editor, #js-editor { position: relative; height: 600px; box-sizing: content-box; }

#html-editor, #js-editor, .form-stacked .inputs { width: 98%; }

#js-editor { height: 300px; }

#PageTextile { font-family: Georgia, serif; }

form[action^="/admin/"] input[type=text], form[action^="/admin/"] textarea { width: 100%; }
form[action^="/admin/"] textarea { min-height: 500px; }

/* appareils mobiles : réso max qHD pour les Android haut de gamme (540px de large ou de long suivant l'orientation du tél) et iPhone 4 */
@media screen and (max-width: 640px), screen and (-webkit-min-device-pixel-ratio: 2) { #content-wrapper, #footer, *.halfwidth, *.twothird, *.rght, *.lft, p.lft.halfwidth, p.rght.halfwidth, *.with-app, .project-content, .project-links { width: auto; min-width: 0 !important; max-width: none !important; margin: auto; padding: 0; float: none; position: static; word-wrap: break-word; }
  #container { top: auto; }
  #content-wrapper { padding: 15px 5px 0 !important; }
  .no-js #header { position: static; }
  #header, #container { top: auto; }
  #header { height: auto; position: absolute; left: 0; right: 0; border-bottom: 2px solid #aaa; z-index: 100; }
  #header.closed { height: 0; overflow: visible; }
  #header.closed > #headerContainer { display: none; }
  #headerContainer { z-index: 100; }
  #headerContainer > div { display: none; }
  #headerContainer > #navContainer { display: block; }
  #header-toggler { background: #DDD; padding: 5px 10px; border-radius: 0 0 10px 10px; position: absolute; right: 5px; z-index: 90; }
  #header-toggler:before { content: attr(data-hide); }
  #header.closed + #header-toggler { position: absolute; top: 0; }
  #header.closed + #header-toggler:before { content: attr(data-show); }
  #navigation { text-align: left; }
  #navigation li { margin: 15px 0; }
  #navigation a, #navigation a:active, #navigation a:visited { padding: 0; min-width: 0; height: auto; line-height: normal !important; }
  .only-mobile { display: block; }
  span.only-mobile { display: inline; }
  .cool-link { padding: 15px 10px; font-size: 1.1em; }
  #cake p, #php p, #ror p, #sql p { width: auto; }
  #cake img, #php img, #ror img, #sql img { display: none !important; visibility: hidden; }
  input[type="email"], input[type="url"], input[type="text"], textarea { padding: 5px !important; width: 100% !important; margin: 3px 0 !important; }
  #footer { margin: 30px 0 50px; }
  #developpeur-applications .smartmap .twothird { max-width: none; min-width: 0; }
  .project-tags { position: relative; top: 0; } }
@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
